body {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  margin: 0 1rem;
}

p {
  margin: 1rem;
}

.date {
  margin: 1rem auto;
  font-weight: 700;
}
